@charset "UTF-8";

ul {
	margin: 0;
	padding: 0;
}
/* 왼쪽 */
#bookdetail_wrap {
	margin: 0 auto;
	width: 1080px;
	padding-top: 60px;
}
.category_nav {
	width: 200px;
	height: 750px;
	display: block;
	float: left;
	box-sizing: border-box;
	border : 1px solid #dcdcdc;
}

.sub li {
	padding-left: 20px;
	font-size: 13px;
}
#category {
	float: left;
	width: 200px;
	height: 800px;
	margin-right: 60px;
	border: 1px solid #dcdcdc;
}

.classify {
	font-weight: bold;
	font-size: 20px;
	padding: 20px 20px 20px 35px;
	color: #425c5a;
}
#navi {
	cursor: pointer;
	padding-left: 40px;
}

.sub li {
	padding-left: 20px;
	font-size: 13px;
}

.category_nav ul {
	font-size: 15px;
	padding-bottom: 11px;
}

.category_nav ul li {
	list-style-type: none;
	margin: 10px 0;
}

/* 오른쪽 본문 */
#detail_wrap {
	width: 820px;
	display: flex;
	margin-bottom: 30px;
}

.detail_book_img {
	padding: 10px;
	display: block;
	width: 200px;
	float: left;
	margin: 0 40px 0 30px;
}

#detail_book_desc {
	display: block;
	float: right;
	padding: 10px 0;
}

#detail_category {
	font-size: 12px;
	margin-bottom: 20px;
}

#detail_title {
	font-weight: bold;
	font-size: 24px;
}

#detail_descripton {
	margin: 25px 0 25px 0;
	font-size: 15px;
}

#price_table {
	line-height: 20px;
	font-size: 15px;
	border-collapse: separate;
	border-spacing: 10px;
}

#price_table tr:nth-child(1) {
	font-size: 18px;
}

.detail_hr1 {
	border: 1px solid gray;
	width: 570px;
}

.detail_order_btn {
	margin-left: 10px;
	border: 1px solid #425c5a;
	width: 110px;
	height: 40px;
	border-radius: 3px;
	background-color: #425c5a;
	color: white;
	line-height: 20px;
	vertical-align: middle;
}

.cartIn {
	width: 50px;
	height: 40px;
	padding-left: 1px;
}

.detail_order_btn img {
	width: 20px;
	border-radius: 3px;
}

#detail_amount {
	margin-top: 10px;
	line-height: 20px;
	vertical-align: middle;
}

#detail_order {
	margin-left: 150px;
}

#detail_count {
	padding-top: 7px;
	margin-right: 10px;
}

#bookamount {
	width: 50px;
	maring-left: 20px;
}

/* 책 상세내용 */
.detail_book_more {
	position: relative;
	display: block;
	margin-left: 250px;
	width: 820px;
	line-height: 20px;
}

.detail_buttons {
	width: 820px;
	overflow: hidden;
}

.detail_buttons>label {
	display: block;
	float: left;
	width: 273px;
	padding: 20px 0;
	font-size: 15px;
	line-height: 15px;
	text-align: center;
	border: 1px solid #425c5a;
	border-right : 0;
	box-sizing: border-box;
	color: gray;
}
.detail_buttons>label:nth-child(3) {
	border-right : 1px solid #425c5a;
}

#detail_book_info_wrap {
	width: 780px;
	padding: 20px 0 20px 10px;
}

.detail_font_large {
	font: bold;
	margin-bottom: 10px;
	font-size: 20px;
}

.detail_div_wrap {
	width: 820px;
	padding-bottom: 50px;
	font-size: 15px;
	letter-spacing: -0.4px;
}

.detail_description {
	line-height: 20px;
	padding-left: 10px;
	padding-top: 20px;
}

.detail_hr2 {
	border: 1px solid gray;
	width: 820px;
}

.detail_bestseller {
	padding-left: 10px;
	display: inline-block;
}

#bst_title {
	width: 150px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding-top: 15px;
}

.detail_table_wrap {
	padding: 25px 20px;
}

.detail_table {
	width: 780px;
	margin: 0;
	line-height: 20px;
	font-size: 12px;
	border: 1px solid gray;
}

.detail_table_th {
	width: 150px;
	background-color: #f2f2f2;
	text-align: center;
	border-bottom: 1px solid gray;
	/* border-right: 1px solid black; */
}

.detail_table td {
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	text-align: center;
}

.d_tab:nth-of-type(1) {
	display: none;
}

.d_tab:nth-of-type(1) ~div:nth-of-type(1) {
	display: none;
}

.d_tab:nth-of-type(1):checked ~.detail_book_info:nth-of-type(1) {
	display: block;
}

.d_tab:nth-of-type(1):checked ~section.detail_buttons>label:nth-of-type(1)
	{
	background: white;
	color: #425c5a;
	font-weight: 700;
	border-bottom: 0;
}

.d_tab:nth-of-type(2) {
	display: none;
}

.d_tab:nth-of-type(2) ~.div:nth-of-type(2) {
	display: block;
}

.d_tab:nth-of-type(2):checked ~.div:nth-of-type(2) {
	display: block;
}

.d_tab:nth-of-type(2):checked ~section.detail_buttons>label:nth-of-type(2)
	{
	background: white;
	color: #425c5a;
	font-weight: 700;
	border-bottom: 0;
}

.d_tab:nth-of-type(3) {
	display: none;
}

.d_tab:nth-of-type(3) ~div:nth-of-type(3) {
	display: none;
}

.d_tab:nth-of-type(3):checked ~div:nth-of-type(3) {
	display: block;
}

.d_tab:nth-of-type(3):checked ~section.detail_buttons>label:nth-of-type(3)
	{
	background: white;
	color: #425c5a;
	font-weight: 700;
	border-bottom: 0;
}