@charset "UTF-8";
/* 회원관리 */
        .mManage {
            position: relative;
            width: 1080px;
            height: 500px;
            margin: 0 auto;
            padding-top: 60px;
        }
        /* 회원관리 aside*/
        .mManage_aside{   
            position: absolute;
            width: 200px;
            height: auto;
            float: left;
            margin-right: 60px;
        }
        #mManage_asidetlt{
        	font-size : 30px;
            padding-bottom: 20px;
        }   
        
        .mManage_asidenav ul li {
            height: 50px;
            padding-left: 20px;
            border: solid 1px;
            box-sizing: border-box;
        }
        .mManage_asidenav ul li a {
            line-height: 50px;
            text-decoration: none;
        }
        /* 회원관리 content*/
        .mManage_cont {
            position: absolute;
            left: 260px;
            width: 820px;
        }
        /* 회원관리 content title*/
        .mManage_cont_title {
            width: 100%;
            font-size: 24px;
            padding-bottom: 20px;
        }
        /* 회원관리 content board*/
        .mManage_cont_board{
            width: 100%;
            height: 400px;
            background-color: white;
            border: solid 1px;
            box-sizing: border-box;
        }
        .mManage_cont_board form {
            padding-top: 25px;
        }
        .mManage_cont_board table {
            width: 720px;
            height: 330px;
            margin: 0 auto;
            background-color: white;
            font-size: 12px;
        }
        .txt_img{
            border: solid 1px;
            box-sizing: border-box;
            width: 200px;
            text-align: center;
        }
        .txt_title{
            border: solid 1px;
            box-sizing: border-box;
            width: 100px;
            text-align: center;
        }
        .txt_cont{
            border: solid 1px;
            box-sizing: border-box;
            width: 400px;
            text-align: left;
            padding-left: 20px;
        }
        table th{
            height: 27px;
            line-height: 27px;
            background-color: rgb(212, 212, 212);
            font-weight: bold;
        }
        table tr:last-child td{
            padding-top: 10px;
            text-align: center;
        }