@charset "UTF-8";

body {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 12pt;
	margin: 0 auto;
}

.mypage {
	width: 1080px;
	display: flex;
	padding-top: 60px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: black;
}

/*카테고리*/
#category {
	float: left;
	width: 200px;
	height: 600px;
	margin-right: 60px;
}

.classify {
	font-weight: bold;
	width: 1080px;
	padding-bottom: 20px;
	font-size: 30px;
}

.mycate {
            width: 200px;
            height: 50px;
            border: 1px solid #dcdcdc;
            border-bottom: 0px;
            display: table-cell;
            vertical-align: middle;
            padding-left: 20px;
            font-size:14px;
        }

        #last {
            border-bottom: 1px solid #dcdcdc;
        }
        #category a{
        	color: #808080;
        }
        #category .mycate:hover{
		  	background: #fafafa; 
		    background-size: 10px 11px;
		    font-weight: 700;
		    color: #425c5a;
        }

.arrow {
	float: right;
	margin-right: 10px;
}

#mypage_order {
	float: right;
	width: 820px;
}

/*개인정보창*/
.personal {
	border: 1px solid #dcdcdc;
	margin-bottom: 35px;
}

#personal_intro {
	margin: 15px;
}

#person_btn {
	display: flex;
	justify-content: space-around;
	margin: 35px;
}

.person_wrapper2 {
	display: flex;
}

.btn_dcp {
	font-size: 10pt;
	margin: auto 15px;
}

.btn_num {
	font-size: 13pt;
}

/*주문내역*/
.ordertitle {
	font-size: 24px;
	padding-bottom: 20px;
}

.order {
	margin-bottom:15px;
}

.date {
    background-color: #425c5a;
    font-size: 11pt;
    color: white;
    height: 33px;
}

#orderDate{
	float: right;
    line-height: 33px;
	padding-right: 15px;
	font-size:12px;
	font-weight: bold;
}

#orderOno{
	float: lefr;
    line-height: 33px;
	padding-left: 15px;
	font-size:12px;
	font-weight: bold;
}

#myListTitle{
	font-size:18px;
	font-weight: bold;
}

#myListContent{
	padding-top:5px;
}
#myListStatus{
	font-weight: bold;
}

#myList_sub{
	font-size:12px;
	color:#7c7c7c;
}
.book {
	width:130px;
	border : 1px solid #dcdcdc;
	padding: 10px 15px;
}

.order_contents {
	display: flex;
	position: relative;
    padding: 13px;
}

.order_detail {
	margin: auto 0;
	padding-left:15px;
	width: 485px;
	font-size: 11pt;
}

.order_apli {
	float: right;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	margin-right: 15px;
}

.order_btn {
	border: 1px solid #425c5a;
	background-color: #fff;
	color: #425c5a;
	display: inline-block;
	width: 120px;
	margin-left: 5px;
	vertical-align: top;
	margin-top: 5px;
	height: 44px;
	border-radius: 3px;
	font-weight: 700;
	font-size: 14px;
	line-height: 40px;
	text-align: center;
	height: 44px;
}

#mylist {
	font-weight: bold;
}