@charset "UTF-8";
body {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 12pt;
	margin: 0 auto;
}

.form_title {
	line-height: 70px;
	font-weight: bold;
}

.font_large {
	font-size: 30px;
	font-weight: bolder;
	text-align: center;
}

.form_wrap {
	width: 1080px;
	padding-top: 60px;
	display: block;
	margin: 0 auto;
}

.input_id_search {
	width: 100%;
	height: 54px;
	padding: 0 19px;
	border: 1px solid #ccc;
	border-radius: 3px;
	background-color: #fff;
	font-size: 14px;
	line-height: 20px;
	outline: none;
}

.login_font_size {
	font-size: 11pt;
	line-height: 30px;
}

.form_login_btn {
	text-align: center;
}

.form_btn1 {
	display: block;
	width: 340px;
	height: 54px;
	border-radius: 3px;
	text-align: center;
	border: 1px solid #425c5a;
	background-color: #425c5a;
	color:white;
	margin-top:30px;
}

.idsearch_res {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	margin: 20px;
}

#id_search_tbl {
	margin: 0 auto;
	line-height: 40px;
	height: 40px;
	vertical-align: middle;
}

#id_search_tbl td {
	vertical-align: middle;
}

.id_search_res {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	margin: 20px;
}


.form_login_btn {
	text-align: center;
}

.id_search_title {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 18px;
	color: #425c5a;
	text-align: center;
	font-weight: bold;
}

#id_search_view {
	font-size: 14px;
	color: gray;
	text-align: center;
}

.form_btn1 {
	display: block;
	width: 340px;
	height: 54px;
	border-radius: 3px;
	text-align: center;
	border: 1px solid #425c5a;
	background-color: #425c5a;
	color: white;
	margin-top: 30px;
}

#id_search_end_tbl {
	margin: 0 auto;
	line-height: 30px;
	height: 40px;
	vertical-align: middle;
}

#id_search_end_tbl td {
	vertical-align: middle;
}


.input_pw_search {
	width: 340px;
    height: 54px;
    padding: 0 19px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    font-size: 14px;
    line-height: 20px;
    outline: none;
}

.login_font_size {
	font-size: 11pt;
	line-height: 30px;
}

.form_login_btn {
	text-align: center;
}

.form_btn1 {
	display: block;
	width: 340px;
	height: 54px;
	border-radius: 3px;
	text-align: center;
	border: 1px solid #425c5a;
	background-color: #425c5a;
	color:white;
	margin-top:30px;
}

#pw_search {
	margin: 0 auto;
	line-height: 30px;
	height: 40px;
	vertical-align: middle;
}

#pw_search td {
	vertical-align: middle;
}

#pw_search_com {
	text-align: center;
	font-size: 13px;
}

#pw_search_tbl {
	margin: 0 auto;
	line-height: 40px;
	height: 40px;
	vertical-align: middle;
}

.pw_search_res{
			text-align: center;
			font-size:14px;
			font-weight:bold;
			margin:20px;
			
		}
